#delete{
    display: inline;
}

.form {
    margin-top: 5em;
}
.edit {
    width: 60%;
    display: flex;
    margin: 0 auto;
	margin-top: 6em;
}
.field {
    width: 100%;
    margin: 0 auto;
}
.comment {
    margin: 0 auto;
    margin-top: 10em;
}

@media screen and (max-width: 800px) {
    .edit {
        width: 100%;
        margin: 5em 3em 3em 3em;
    }
}