<% include ../partials/header %>
        <div class="jumbotron">
            <h1>Welcome to the site</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <% posts.forEach(function(post) { %>   
                        <h4><%= post.title || No Available posts %></h4>
                        <p><%- post.body.substring(0, 200) %></p>
                        <a href="/posts/<%= post._id %>" class="btn btn-primary">Read</a>
                   <% });  %>
                </div>
            </div>
        </div>
<% include ../partials/footer %>

        