<% include ../partials/header %>
        <div class="container">
            <div class="text">
                    <h4><%= post.title %></h4>
                    <p><%- post.body %></p>
                    <a href="/posts/<%= post._id%>/edit" class="btn btn-warning">Edit</a>
                    <form id="delete" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
            </div>
        </div>
<% include ../partials/footer %>